# Ignore the virtual environment
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.log
db.sqlite3
media/
staticfiles/

# Environment variables and secrets
.env
*.pem

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# MacOS files
.DS_Store

# Ignore migrations cache (optional)
**/migrations/__pycache__/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo